.ft-todo {
    margin-left: 20vw;
    width: 80%;
    padding: 20px;
    max-height: 90vh; /* Ajusta esta altura según tus necesidades */
    overflow-y: auto; /* Permite el scroll vertical */
}


.ft-videos{
    display: flex;
    flex-direction: row;
    gap: 15px;
    flex-wrap: wrap;
    margin-bottom: 60px;
}

.ft-detalle{
    background-color: #272727;
    padding: 15px;
    border-radius: 20px;
}

.ft-detalle p{
    font-weight: bold;
    color: #a7a7a7;
}