.tp-container{
    background-color: #18181B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 96%;
    padding: 0 2%;
}

.tp-user{
    display: flex;
    align-items: center;
    gap: 10px;
}

.tp-searchbar{
    background-color: #272727;
    width: 30%;
    height: 60%;
    border-radius: 10px;
}

.tp-user-img{
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 20px;
}

.tp-logo{
    font-size: 1.5rem;
}
