.vse-card{
    background-color: #272727;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    vertical-align: top;
    cursor: pointer;
}

.vse-card:hover{
    background-color: #11202c;
    transition: .2s ease-in;
}

.vse-card:hover .vs-card-thumbnail-img{
    background-color: #272727;
}

.vse-card-thumbnail{
    display:inline-flex;
    position: relative;
    width: 40%;
    height: 100%;
    border-bottom: 1px solid #444;
}

.vse-card-thumbnail-img{
    width: 100%;
    object-fit: cover;
}

.vse-card-thumbnail-duration{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para mejor visibilidad */
    color: white;
    padding: 5px;
    bottom: 0px;
    right: 0px;
    border-radius: 3px;
}


.vse-card-info{
    display: flex;
    padding: 5px;
    width: 40%;
    height: 40%;
    padding-top: 10px;
}

.vse-card-info-bottom{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: left;
    margin-right: 20px;
}

.vse-card-info-profpic{
    width: 30px;
    height: 30px;
    border-radius: 40px;
    margin: 2px 10px 0px 10px;
}

.vse-card-info-title{
    align-self: flex-start;
    font-size: 20px;
    margin: 0px;
}
