.mi-container{
    display: flex;
    align-items: center;
    width: 100%;
    height: 10%;
    transition: .2s ease-out;
}

.mi-container:hover{
    background-color: #155F82;
}

.mi-itemname{
    color: aliceblue;
    padding-left: 10%;
}